{% extends 'base/base.html' %}
{% block title %}
<title> AMS | Student Home Page</title>
{% endblock %}


{% block content %}
<div class="container">
{% if user == "" %}
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>Student Login Form</h1>
    </div>
  </div>
  <div class="row">
    <div class=" col-6 offset-lg-2 ">
      <form method="POST">
          {% csrf_token %}
          {{ form }}<br>
          <button type="submit" class="btn btn-success" >Login</button>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>Welcome, {{ user }}</h1>
    </div>
  </div>
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">SR.</th>
        <th scope="col">Subject Name </th>
        <th scope="col">Attendance</th>
      </tr>
    </thead>
    <tbody>
      {% for k,v in sub.items %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{k}}</td>
        <td>{{v}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
