{% extends 'base/base.html' %}

{% block title %}
<title> AMS | Take Attendance </title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class=" col-8 offset-lg-2 ">
      <form method="POST">
        <br>
          {% csrf_token %}
          <!-- {{ form }} -->
          {% for field in form %}
          <div class="form-group row">
            <div class="col-3 col-form-label">
                <label for="{{ field.name }}">{{ field.label }}</label>
            </div>
            <div class="col-8">
            {{ field }}
            </div>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-success" >Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
